@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<div class="access-denied-container">
    <header>
        <h1 class="text-danger text-center">@ViewData["Title"]</h1>
        <p class="text-danger text-center">You do not have access to this resource.</p>
    </header>
    <div class="create-button">
        <a href="@Url.Action("Index", "Home")" class="btn btn-create" style="white-space: nowrap;" id="addButton">
            <i class="fas fa-home"></i> Home
        </a>
    </div>
</div>
