@{
    ViewBag.Title = "OrderPlacedSuccessfully";
}

<style>
    .center-content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
    }

    .content {
        text-align: center;
    }

</style>

<div class="center-content">
    <div class="content">
        <div class="mt-4">
            <p class="fw-semibold text-success" style="font-weight:bold; font-size:28px;">
                Your order was placed successfully. Thank you for shopping with us.
            </p>

            <p>
                <strong>#ORDER:</strong> <span id="orderNumber" style="font-weight:bold; font-size:25px;">@ViewBag.OrderNumber</span><br />
            </p>
            <p class="fs-5">
                <strong>Order Status:</strong> <span id="orderStatus" class="badge badge-status">@ViewBag.OrderStatus</span><br />
                <strong>Total Order Amount:</strong> R <span id="amountPaid">@ViewBag.AmountPaid</span><br />
            </p>
            <br />
            <div class="mt-4">
                <a href="@Url.Action("MyOrders", "Orders")" id="addButton" class="btn btn-md">View My Orders</a>
            </div>
        </div>
    </div>
</div>
